<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="LOG_ROOT_PATH">C:\Users\sandeepmaurya\dev\projects\loan-application\LOG</Property>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss} %-5p [%-5t] %c{3.} - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="${LOG_ROOT_PATH}\app-debug.log"
                     filePattern="${LOG_ROOT_PATH}\app-info-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${LOG_ROOT_PATH}" maxDepth="1">
                    <IfFileName glob="*/app-*.log.gz" />
                    <IfLastModified age="PT1M" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="com.kmsandeep.loanApplication.controller" level="debug">
        </Logger>

        <Root level="info">
<!--            <AppenderRef ref="Console" />-->
            <AppenderRef ref="Async" />
        </Root>
    </Loggers>
</Configuration>